<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>easypass</title>
    <link rel="stylesheet" href="static/css/style.css" />
  </head>
  <body>
    <h1>Login form</h1>
    <p>
      We're invented <s>bicycle</s> an innovation method to protect ourselves from hackers: <b>login form</b>! Nobody
        except our admin can get our secret data.
    </p>
    <form method="post" action="">
        {% if error %}
        <p class="error">{{ error }}</p>
        {% endif %}
        <p>
            <label for="login">Login: </label>
            <input type="text" name="login" id="login" />
        </p>
        <p>
            <label for="password">Password: </label>
            <input type="password" name="password" id="password" />
        </p>
        <p>
            <button>Login</button>
        </p>
    </form>
    <hr/>
    <p class="footer">
      Copyright &copy; @nsychev, 2017
    </p>
  </body>
</html>
